<%- include('partials/header'); %>
<h1>about</h1>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam sit vitae quos, aut quae quo dolorum! Delectus ratione earum at nam exercitationem sunt quos qui quas perspiciatis, in dolore eligendi ullam assumenda optio. Molestiae, tempore vero. Veniam inventore facilis perspiciatis. Harum blanditiis laboriosam pariatur vero nihil sapiente labore, obcaecati esse a. At labore officia nobis blanditiis neque minima ab ullam, recusandae reprehenderit alias laudantium eligendi? Iusto, eveniet cum obcaecati eligendi voluptates, natus et quisquam atque maxime ut nemo sit est consectetur adipisci! Harum quasi assumenda voluptates, mollitia inventore, non dolorum cupiditate labore similique accusamus molestias reiciendis fugiat recusandae eveniet exercitationem?</p>
<%- include('partials/footer'); %>